In [1]:
import pandas as pd

In [23]:
path='/mnt/sdb1/Project_Sieja_MCLR_52/1_code/'

In [24]:
uniprot = pd.read_csv(path+"proteins.headers")
uniprot.columns=['trinity']
uniprot.shape

(125838, 1)

In [25]:
salmo = pd.read_csv(path+"protein_salmo.headers")
salmo.columns=['trinity']
salmo.shape

(148645, 1)

In [31]:
uniprot_salmo = uniprot['trinity'].append(salmo['trinity'])

In [33]:
uniprot_salmo.drop_duplicates(inplace=True)

In [34]:
uniprot_salmo.shape

(170757,)

In [38]:
uniprot_salmo.to_csv(path+'protein_uniprot_salmo_combined.headers', index=False)

In [1]:
# combine uniprot and salmo annotation report with deseq results

In [2]:
path="/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/proteins_uniprot_salmo_brzuzan/"

In [10]:
annot_report = pd.read_csv(path+'report_salmo_annot_feature_map_uniprot_and_salmo_proteins.csv', sep='\t')
annot_report.head()

,trinity,ident_uniprot,ident_salmo
0,TRINITY_DN100000_c5_g1,CAPON_HUMAN^CAPON_MOUSE,XP_013978521.1^XP_014024532.1
1,TRINITY_DN100000_c5_g1_i2,CAPON_HUMAN,XP_014024532.1
2,TRINITY_DN100000_c5_g1_i6,CAPON_MOUSE,XP_013978521.1
3,TRINITY_DN100000_c9_g1,CH049_HUMAN,NaN
4,TRINITY_DN100000_c9_g1_i1,CH049_HUMAN,NaN

In [9]:
deseq_results = pd.read_csv(path+"1d_MIS_vs_INH_DESEQ.csv")
deseq_results.head()

,trinity,MIS_1d_1,MIS_1d_2,MIS_1d_3,INH_1d_1,INH_1d_2,INH_1d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,TRINITY_DN100000_c5_g1_i6,683,674,487,685,654,492,604.304316,-0.179745,0.304724,-0.589861,0.555284,0.999996
1,TRINITY_DN100000_c9_g1_i1,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN
2,TRINITY_DN100001_c2_g2_i2,1190,1280,1223,1034,1012,1252,1145.939552,-0.035965,0.256702,-0.140103,0.888579,0.999996
3,TRINITY_DN100001_c2_g2_i7,451,464,516,377,338,305,398.258863,0.292943,0.267341,1.095766,0.273181,0.999996
4,TRINITY_DN100001_c2_g3_i3,547,568,579,522,338,320,466.619820,0.327023,0.311017,1.051464,0.293046,0.999996

In [11]:
merged = deseq_results.merge(annot_report, on='trinity')

In [12]:
merged.head()

,trinity,MIS_1d_1,MIS_1d_2,MIS_1d_3,INH_1d_1,INH_1d_2,INH_1d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,ident_uniprot,ident_salmo
0,TRINITY_DN100000_c5_g1_i6,683,674,487,685,654,492,604.304316,-0.179745,0.304724,-0.589861,0.555284,0.999996,CAPON_MOUSE,XP_013978521.1
1,TRINITY_DN100000_c9_g1_i1,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,CH049_HUMAN,NaN
2,TRINITY_DN100001_c2_g2_i2,1190,1280,1223,1034,1012,1252,1145.939552,-0.035965,0.256702,-0.140103,0.888579,0.999996,CIO1B_SALSA,XP_014027367.1
3,TRINITY_DN100001_c2_g2_i7,451,464,516,377,338,305,398.258863,0.292943,0.267341,1.095766,0.273181,0.999996,CIO1B_SALSA,XP_014015694.1^XP_014027367.1
4,TRINITY_DN100001_c2_g3_i3,547,568,579,522,338,320,466.619820,0.327023,0.311017,1.051464,0.293046,0.999996,CIO1B_SALSA,XP_014027367.1

In [13]:
merged.to_csv(path+'1d_MIS_vs_INH_DESEQ_annotated.csv', index=False)

In [14]:
# sorting annotated deseq results (padj < 0.001, l2fc sorted)

In [2]:
path="/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/proteins_uniprot_salmo_brzuzan/"

In [25]:
deseq_annotated = pd.read_csv(path+'8d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)
deseq_annotated.head()

,trinity,ident_uniprot,ident_salmo,MIS_8d_1,MIS_8d_2,MIS_8d_3,MIM_8d_1,MIM_8d_2,MIM_8d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,TRINITY_DN100000_c5_g1_i6,CAPON_MOUSE,XP_013978521.1,413,554,634,415,556,253,453.488632,0.213960,0.314849,0.679564,0.496780,0.999971
1,TRINITY_DN100000_c9_g1_i1,CH049_HUMAN,NaN,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN
2,TRINITY_DN100001_c2_g2_i2,CIO1B_SALSA,XP_014027367.1,1019,1089,1135,940,1042,1237,1066.823351,-0.183666,0.266745,-0.688546,0.491109,0.999971
3,TRINITY_DN100001_c2_g2_i7,CIO1B_SALSA,XP_014015694.1^XP_014027367.1,309,394,412,243,290,280,312.751830,0.261589,0.261880,0.998889,0.317849,0.999971
4,TRINITY_DN100001_c2_g3_i3,CIO1B_SALSA,XP_014027367.1,382,375,456,275,364,350,359.009621,0.112693,0.265376,0.424654,0.671089,0.999971

In [26]:
deseq_annotated_padj = deseq_annotated[deseq_annotated['padj'] < 0.001]

In [27]:
deseq_annotated_sorted = deseq_annotated_padj.sort_values(by='log2FoldChange')

In [28]:
deseq_annotated_sorted.head()

,trinity,ident_uniprot,ident_salmo,MIS_8d_1,MIS_8d_2,MIS_8d_3,MIM_8d_1,MIM_8d_2,MIM_8d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
161222,TRINITY_DN91293_c2_g2_i1,NaN,XP_014067033.1,0,1,0,92,147,62,51.302357,-8.273648,1.273713,-6.495692,8.265273e-11,2.500304e-07
161339,TRINITY_DN91384_c2_g4_i1,NaN,XP_014068952.1^XP_014068951.1,0,0,0,36,87,34,26.188602,-8.271678,1.333119,-6.204756,5.478176e-10,1.288924e-06
167752,TRINITY_DN97215_c5_g1_i1,NaN,XP_014062859.1,0,0,0,28,68,14,18.095178,-7.739182,1.416803,-5.462428,4.696654e-08,6.630266e-05
161110,TRINITY_DN91206_c2_g2_i1,NaN,XP_013993628.1,1,2,0,98,126,205,76.383563,-7.359166,0.958493,-7.677850,1.617806e-14,1.522571e-10
126973,TRINITY_DN101103_c2_g4_i1,NaN,XP_013978951.1,0,0,1,44,87,21,25.454686,-7.260640,1.355832,-5.355119,8.550025e-08,1.131569e-04

In [29]:
deseq_annotated_sorted.to_csv(path+"8d_MIS_vs_MIM_DESEQ_annotated_padj0001_l2fc_sorted.csv", index=False)

In [8]:
# sorting annotated deseq_results (padj sorted)

In [6]:
deseq_annotated = pd.read_csv(path+'8d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)
deseq_annotated_sorted = deseq_annotated.sort_values(by='padj')
deseq_annotated_sorted.to_csv(path+"8d_MIS_vs_MIM_DESEQ_annotated_padj_sorted.csv", index=False)

In [ ]:
# merge deseq results with GO (UNIPROT)

In [2]:
path="/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/proteins_uniprot_salmo_brzuzan/"

In [62]:
deseq = pd.read_csv(path+'1d_MIS_vs_PBS_DESEQ_annotated_single_uniprot_hit.csv', low_memory=False)

In [63]:
uniprot_go = pd.read_csv(path+'uniprot_only_go_table.tab', sep='\t')

In [64]:
merged = deseq.merge(uniprot_go, on='ident_uniprot', how='inner')

In [65]:
merged_padj = merged[merged['padj'] < 0.001]

In [66]:
merged_padj_sorted = merged_padj.sort_values(by='log2FoldChange')

In [67]:
merged_padj_sorted.to_csv(path+'1d_MIS_vs_PBS_DESEQ_annotated_uniprotGO_padj0001_l2fc_sorted.csv', index=False)

In [2]:
# merge deseq + go uniprot with GO SALMO

In [9]:
deseq_go_uniprot = pd.read_csv(path+'testowo.csv', low_memory=False)

In [10]:
salmo_go = pd.read_csv(path+'salmo_part1_part2.tab', low_memory=False, sep='\t')

In [11]:
merged_salmo = deseq_go_uniprot.merge(salmo_go, on='ident_salmo', how='outer')

In [12]:
merged_salmo.to_csv(path+'testowo.csv', index=False)

In [8]:
part1 = pd.read_csv(path+'salmo_part1.tab', low_memory=False, sep='\t')
part2 = pd.read_csv(path+'salmo_part2.tab', low_memory=False, sep='\t')
frames = [part1, part2]
result = pd.concat(frames)

In [9]:
result.to_csv(path+'salmo_part1_part2.tab', sep='\t', index=False)