In [1]:
import pandas as pd

In [2]:
path='/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/RNAhybrid_PB/'

In [3]:
RNAhyb_output = pd.read_csv(path+'/seed_7/output_PCT_UTR_sklejone_razem.csv')

In [4]:
RNAhyb_output.shape

(17567, 11)

In [5]:
# nie wiem dlaczego, ale output rnahybrida moze miec zduplikowanie rowy
RNAhyb_output.drop_duplicates(inplace=True)

In [6]:
RNAhyb_output.shape

(17556, 11)

In [7]:
#utr = pd.read_csv(path+'mRNA_UTR_PROTEINS_merged_edited_copy.csv')
pct_utr = pd.read_csv(path+'transcripts_XP_idents_UTR_PCT_appended.csv', low_memory=False)

In [8]:
#utr.head()
pct_utr.head()

                       query           XP_01
0  TRINITY_DN100005_c7_g2_i1  XP_014068145.1
1   TRINITY_DN81030_c8_g4_i1  XP_014068145.1
2   TRINITY_DN83202_c8_g4_i2  XP_014068145.1
3  TRINITY_DN105298_c5_g1_i2  XP_014068145.1
4   TRINITY_DN91961_c5_g1_i1  XP_014068145.1

In [9]:
#utr.shape
pct_utr.shape

(387202, 2)

In [10]:
#utr.drop_duplicates(inplace=True)
pct_utr.drop_duplicates(inplace=True)

In [11]:
#utr.shape
pct_utr.shape

(387202, 2)

In [12]:
merged = RNAhyb_output.merge(pct_utr, on='query')

In [13]:
merged.shape

(17557, 12)

In [14]:
merged.drop_duplicates(inplace=True)

In [15]:
merged.shape

(17557, 12)

In [17]:
merged.to_csv(path+'outout_pct_merged_test.csv', index=False)

In [ ]:
# search DE output for XP_01 entries (wytypowane przez rnahybrid)

In [105]:
#mismim1d = pd.read_csv(path+'MIM_deseq/1d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)
mismim1d = pd.read_csv(path+'INH_deseq/8d_MIS_vs_INH_DESEQ_annotated.csv', low_memory=False)

In [94]:
mismim1d.shape

(170757, 15)

In [95]:
mismim1d.drop_duplicates().shape

(170757, 15)

In [106]:
#To select rows whose column value is in an iterable, some_values, use isin:
mismim1d_rnahyb = mismim1d.loc[mismim1d['XP_01'].isin(merged['XP_01'])]

In [107]:
mismim1d_rnahyb_padj = mismim1d_rnahyb[mismim1d_rnahyb['padj'] < 0.05]

In [108]:
mismim1d_rnahyb_padj_droped = mismim1d_rnahyb_padj.sort_values('padj', ascending=True).drop_duplicates('XP_01').sort_index()

In [109]:
mismim1d_rnahyb_padj_droped.to_csv(path+'kolejny_test3_false.csv', index=False)

In [16]:
# merge with MCLR deseq2 results

In [19]:
deseq_d1 = pd.read_csv(path+'novel_deseq_results_d1_w_names.csv')
deseq_d6 = pd.read_csv(path+'novel_deseq_results_d6_w_names.csv')
deseq_d9 = pd.read_csv(path+'novel_deseq_results_d9_w_names.csv')

In [20]:
merged_w_deseq_d1 = merged.merge(deseq_d1, on='query')

In [23]:
merged_w_deseq_d1.to_csv(path+'deseq_1d_rnahybrid_output_w_names.csv', index=False)

In [22]:
merged_w_deseq_d6 = merged.merge(deseq_d6, on='query')

In [24]:
merged_w_deseq_d6.to_csv(path+'deseq_6d_rnahybrid_output_w_names.csv', index=False)

In [25]:
merged_w_deseq_d9 = merged.merge(deseq_d9, on='query')

In [26]:
merged_w_deseq_d9.to_csv(path+'deseq_9d_rnahybrid_output_w_names.csv', index=False)

In [27]:
# merge with MIS vs MIM deseq2 results on XP_01

In [32]:
mismim1d = pd.read_csv(path+'MIM_deseq/1d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)

In [33]:
mismim1d.head()

,query,ident_uniprot,MIS_1d_1,MIS_1d_2,MIS_1d_3,MIM_1d_1,MIM_1d_2,MIM_1d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,XP_01
0,TRINITY_DN100000_c5_g1_i6,CAPON_MOUSE,683,674,487,332,561,588,539.059009,0.026450,0.302506,0.087436,0.930325,0.99999,XP_013978521.1
1,TRINITY_DN100000_c9_g1_i1,CH049_HUMAN,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,TRINITY_DN100001_c2_g2_i2,CIO1B_SALSA,1190,1280,1223,1330,962,1226,1204.694469,-0.283106,0.305356,-0.927132,0.353858,0.99999,XP_014027367.1
3,TRINITY_DN100001_c2_g2_i7,CIO1B_SALSA,451,464,516,518,434,368,458.240789,-0.232912,0.316372,-0.736197,0.461611,0.99999,XP_014015694.1
4,TRINITY_DN100001_c2_g3_i3,CIO1B_SALSA,547,568,579,466,487,429,505.126771,-0.036150,0.260897,-0.138559,0.889798,0.99999,XP_014027367.1

In [34]:
mismim1d.shape

(170757, 15)

In [37]:
merged_mim1d = merged.merge(mismim1d, on='XP_01')

In [38]:
merged_mim1d.shape

(6688, 27)

In [39]:
merged_mim1d.drop_duplicates().shape

(6688, 27)

In [42]:
merged_mim1d_padj = merged_mim1d[merged_mim1d['padj'] < 0.05]
merged_mim1d_padj_sorted = merged_mim1d_padj.sort_values(by='padj')

In [43]:
merged_mim1d_padj_sorted.to_csv(path+'TEST_deseq_MIM_1d_rnahybrid_output_w_names.csv', index=False)

In [14]:
mismim6d = pd.read_csv(path+'MIM_deseq/6d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)

In [15]:
mismim6d.head()

,query,ident_uniprot,MIS_6d_1,MIS_6d_2,MIS_6d_3,MIM_6d_1,MIM_6d_2,MIM_6d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,XP_01
0,TRINITY_DN100000_c5_g1_i6,CAPON_MOUSE,461,313,373,643,455,423,435.965642,-0.164060,0.348457,-0.470820,0.637769,0.999906,XP_013978521.1
1,TRINITY_DN100000_c9_g1_i1,CH049_HUMAN,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,TRINITY_DN100001_c2_g2_i2,CIO1B_SALSA,1286,1440,947,1267,1339,980,1191.567772,0.237441,0.293703,0.808438,0.418838,0.999906,XP_014027367.1
3,TRINITY_DN100001_c2_g2_i7,CIO1B_SALSA,355,433,368,328,348,340,359.435656,0.386872,0.282533,1.369299,0.170906,0.999906,XP_014015694.1
4,TRINITY_DN100001_c2_g3_i3,CIO1B_SALSA,429,587,379,393,395,417,428.426882,0.399730,0.292712,1.365611,0.172061,0.999906,XP_014027367.1

In [16]:
merged_mim6d = merged.merge(mismim6d, on='XP_01')

In [17]:
merged_mim6d.to_csv(path+'deseq_MIM_6d_rnahybrid_output_w_names.csv', index=False)

In [22]:
mismim8d = pd.read_csv(path+'MIM_deseq/8d_MIS_vs_MIM_DESEQ_annotated.csv', low_memory=False)

In [23]:
mismim8d.head()

,query,ident_uniprot,MIS_8d_1,MIS_8d_2,MIS_8d_3,MIM_8d_1,MIM_8d_2,MIM_8d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,XP_01
0,TRINITY_DN100000_c5_g1_i6,CAPON_MOUSE,413,554,634,415,556,253,453.488632,0.213960,0.314849,0.679564,0.496780,0.999971,XP_013978521.1
1,TRINITY_DN100000_c9_g1_i1,CH049_HUMAN,0,0,0,0,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,TRINITY_DN100001_c2_g2_i2,CIO1B_SALSA,1019,1089,1135,940,1042,1237,1066.823351,-0.183666,0.266745,-0.688546,0.491109,0.999971,XP_014027367.1
3,TRINITY_DN100001_c2_g2_i7,CIO1B_SALSA,309,394,412,243,290,280,312.751830,0.261589,0.261880,0.998889,0.317849,0.999971,XP_014015694.1
4,TRINITY_DN100001_c2_g3_i3,CIO1B_SALSA,382,375,456,275,364,350,359.009621,0.112693,0.265376,0.424654,0.671089,0.999971,XP_014027367.1

In [24]:
merged_mim8d = merged.merge(mismim8d, on='XP_01')

In [25]:
merged_mim8d.to_csv(path+'deseq_MIM_8d_rnahybrid_output_w_names.csv', index=False)

In [23]:
# połączenie identów transkryptów UTR z PCT
utr = pd.read_csv(path+'mRNA_UTR_PROTEINS_merged_edited_copy.csv', low_memory=False)
pct = pd.read_csv(path+'report_salmo_annot_feature_map_salmo_proteins_xp01_copy.csv', low_memory=False)

In [28]:
appended = utr.append(pct, sort=False)

(387202, 2)

In [25]:
appended.shape

(387352, 2)

In [26]:
utr.shape[0] + pct.shape[0]

387352

In [29]:
appended.drop_duplicates(inplace=True)

In [30]:
appended.to_csv(path+'transcripts_XP_idents_UTR_PCT_appended.csv', index=False)