In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
UTR_matryca = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/PBS1d_MC2_1d_6d_9d_ALL.txt', sep='\t')

In [3]:
UTR_matryca.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100003_c1_g1_i1,8,16,29,1,24,21,24,1,1,2,7,2,34
1,TRINITY_DN100004_c4_g2_i2,9,22,24,8,23,50,45,65,53,95,76,29,74
2,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,4279,6616,4073,3119
3,TRINITY_DN100005_c8_g3_i1,101,102,92,248,52,56,71,89,189,138,313,327,278
4,TRINITY_DN100005_c9_g1_i1,19,4,22,4,2,2,1,0,1,0,2,6,18

In [5]:
day1 = UTR_matryca[['trinity', 'PBS_1d_1', 'PBS_1d_2', 'PBS_1d_3', 'PBS_1d_4', 'MC_1d_1', 'MC_1d_2', 'MC_1d_3']]

In [7]:
day1.columns = [str(col) + '_UTR' for col in day1]

In [8]:
day1.rename(columns={'trinity_UTR':'ID_UTR'}, inplace=True)

/home/maciek/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [9]:
trinity_id_UTR_PROT = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/UTR_vs_PROT_DESEQ/trinity_id_UTR_PROT.csv')

In [10]:
trinity_id_UTR_PROT.head()

  Entry name_PROTEIN                     ID_UTR                 ID_PROTEIN
0   A0A1S3LZ95_SALSA  TRINITY_DN84758_c12_g1_i1   TRINITY_DN83918_c6_g2_i2
1   A0A1S3SPM9_SALSA   TRINITY_DN90008_c5_g5_i1  TRINITY_DN102983_c8_g1_i1
2   A0A1S3SPM9_SALSA   TRINITY_DN90008_c5_g5_i1  TRINITY_DN102983_c8_g1_i2
3   A0A1S3SPM9_SALSA   TRINITY_DN90008_c5_g5_i1  TRINITY_DN102983_c8_g1_i3
4   A0A1S3SPM9_SALSA   TRINITY_DN90008_c5_g5_i1  TRINITY_DN102983_c8_g1_i5

In [11]:
merged = pd.merge(trinity_id_UTR_PROT, day1, on='ID_UTR')

In [12]:
merged.shape

(219, 10)

In [20]:
PROT_matryca = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/UTR_vs_PROT_DESEQ/proteins_salmo_only_matryca.csv')

In [21]:
PROT_matryca.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100000_c5_g1_i2,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0,0,0,5,0,0
1,TRINITY_DN100000_c5_g1_i6,374.0,506.0,607.0,594.0,511.0,726.0,517.0,192,195,227,427,219,339
2,TRINITY_DN100001_c2_g2_i2,1232.0,1264.0,998.0,1040.0,1162.0,1784.0,938.0,1730,1743,1974,2315,2067,2386
3,TRINITY_DN100001_c2_g2_i7,562.0,408.0,311.0,353.0,402.0,471.0,420.0,1378,1338,1428,1291,1139,1344
4,TRINITY_DN100001_c2_g3_i3,565.0,525.0,384.0,406.0,555.0,552.0,529.0,1553,1461,1684,1436,1416,1447

In [22]:
PROT_matryca.columns = [str(col) + '_PROT' for col in PROT_matryca.columns]

In [24]:
PROT_matryca.rename(columns={'trinity_PROT':'ID_PROT'}, inplace=True)

In [28]:
UTR_matryca.columns = [str(col) + '_UTR' for col in UTR_matryca.columns]

,Entry name_PROTEIN,ID_UTR,ID_PROTEIN,PBS_1d_1_UTR,PBS_1d_2_UTR,PBS_1d_3_UTR,PBS_1d_4_UTR,MC_1d_1_UTR,MC_1d_2_UTR,MC_1d_3_UTR,MC_6d_1_UTR,MC_6d_2_UTR,MC_6d_3_UTR,MC_9d_1_UTR,MC_9d_2_UTR,MC_9d_3_UTR
0,A0A1S3LZ95_SALSA,TRINITY_DN84758_c12_g1_i1,TRINITY_DN83918_c6_g2_i2,77,105,208,89,0,0,0,0,0,0,0,0,6
1,A0A1S3SPM9_SALSA,TRINITY_DN90008_c5_g5_i1,TRINITY_DN102983_c8_g1_i1,222,935,533,263,0,3,0,0,2,0,0,0,5
2,A0A1S3SPM9_SALSA,TRINITY_DN90008_c5_g5_i1,TRINITY_DN102983_c8_g1_i2,222,935,533,263,0,3,0,0,2,0,0,0,5
3,A0A1S3SPM9_SALSA,TRINITY_DN90008_c5_g5_i1,TRINITY_DN102983_c8_g1_i3,222,935,533,263,0,3,0,0,2,0,0,0,5
4,A0A1S3SPM9_SALSA,TRINITY_DN90008_c5_g5_i1,TRINITY_DN102983_c8_g1_i5,222,935,533,263,0,3,0,0,2,0,0,0,5

In [34]:
merged.rename(columns={'ID_PROTEIN':'ID_PROT'}, inplace=True)

In [36]:
merged2 = pd.merge(merged, PROT_matryca, on='ID_PROT')

In [37]:
merged2.shape

(219, 29)

In [38]:
merged2.to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/UTR_vs_PROT_DESEQ/UTR_PROT_matryca_merged.csv')

In [ ]:
wyniki z deseq2 (R):

    
1d
out of 219 with nonzero total read count
adjusted p-value < 0.05
LFC > 0 (up)       : 88, 40%
LFC < 0 (down)     : 86, 39%
outliers [1]       : 13, 5.9%
low counts [2]     : 0, 0%
(mean count < 27)


    
    
6d    
out of 219 with nonzero total read count
adjusted p-value < 0.05
LFC > 0 (up)       : 67, 31%
LFC < 0 (down)     : 63, 29%
outliers [1]       : 3, 1.4%
low counts [2]     : 0, 0%
(mean count < 2)    
    
    
9d
out of 219 with nonzero total read count
adjusted p-value < 0.05
LFC > 0 (up)       : 67, 31%
LFC < 0 (down)     : 63, 29%
outliers [1]       : 3, 1.4%
low counts [2]     : 0, 0%
(mean count < 2)