In [1]:
import pandas as pd
import numpy as np

usuniecie transkryptow significant z listy unsignificant, najwyrazniej one zostaly i cala dotychczasowa alize novel trafil szlag

ponizej usuwam z policzonych juz transkryptow known i novel, te ktore wystepuja na obu listach...

In [5]:
known = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_known/PBS1d_MC_all_matryca_DEBROWSER.txt', sep='\t')
known.head(1)

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100024_c5_g3_i1,1102,488,405,95,2162,414,7,6157,3953,428,3108,425,7164

In [6]:
known.shape

(20273, 14)

In [10]:
novel_w_known = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/PBS1d_MC2_1d_6d_9d_ALL.txt', sep='\t')
novel_w_known.head(1)

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100003_c1_g1_i1,8,16,29,1,24,21,24,1,1,2,7,2,34

In [13]:
novel_w_known.shape

(208026, 14)

In [11]:
only_novel = novel_w_known[~novel_w_known['trinity'].isin(known['trinity'])]

In [12]:
only_novel.shape

(188998, 14)

In [ ]:
all_trinity_to_blast[~all_trinity_to_blast['id'].isin(df_best_hit['ID'])]

In [14]:
only_novel.to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/PBS1d_MC_all_matryca.csv', index=False)

### teraz to blastujemy od nowa, poprzednie blasty byly gowno warte

In [15]:
# save headers
only_novel['trinity'].to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/novel_counted-1d-6d-9d.headers', index=False)
# samtools to obtain fasta
# blast on refseq with salmo salar only transcripts

In [ ]:
# mam blasty: teraz filtrowanie mRNA