In [3]:
import pandas as pd
import numpy as np

In [4]:
path='/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/'

In [ ]:
# deseq jest juz zrobiony przy okazji robienia grupy UTR/PROT

In [3]:
# po deseq2:

#zaladuj wyniki deseq (wszystkie novel)
novel_deseq_results_d1 = pd.read_csv(path+'NOVEL_deseq2_result_from_R_1d.csv')

In [4]:
# po deseq2:

#zaladuj wyniki deseq
novel_deseq_results_d6 = pd.read_csv(path+'NOVEL_deseq2_result_from_R_6d.csv')

In [5]:
# po deseq2:

#zaladuj wyniki deseq
novel_deseq_results_d9 = pd.read_csv(path+'NOVEL_deseq2_result_from_R_9d.csv')

In [9]:
novel_deseq_results_d1.shape

(188998, 6)

In [6]:
matryca_novel = pd.read_csv(path+'PBS1d_MC_all_matryca.csv')
matryca_novel.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100003_c1_g1_i1,8,16,29,1,24,21,24,1,1,2,7,2,34
1,TRINITY_DN100004_c4_g2_i2,9,22,24,8,23,50,45,65,53,95,76,29,74
2,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,4279,6616,4073,3119
3,TRINITY_DN100005_c8_g3_i1,101,102,92,248,52,56,71,89,189,138,313,327,278
4,TRINITY_DN100005_c9_g1_i1,19,4,22,4,2,2,1,0,1,0,2,6,18

In [7]:
matryca_novel_1d = matryca_novel[['trinity', 'PBS_1d_1', 'PBS_1d_2', 'PBS_1d_3', 'PBS_1d_4', 'MC_1d_1',
       'MC_1d_2', 'MC_1d_3']]

In [8]:
matryca_novel_6d = matryca_novel[['trinity', 'PBS_1d_1', 'PBS_1d_2', 'PBS_1d_3', 'PBS_1d_4', 'MC_6d_1',
       'MC_6d_2', 'MC_6d_3']]

In [9]:
matryca_novel_9d = matryca_novel[['trinity', 'PBS_1d_1', 'PBS_1d_2', 'PBS_1d_3', 'PBS_1d_4', 'MC_9d_1',
       'MC_9d_2', 'MC_9d_3']]

In [10]:
# dodaj kolumny trinity oraz RC poszczegolnych grup do wynikow deseq:
novel_deseq_results_d1 = pd.concat([matryca_novel_1d, novel_deseq_results_d1], axis=1, sort=False)

In [11]:
# dodaj kolumny trinity oraz RC poszczegolnych grup do wynikow deseq:
novel_deseq_results_d6 = pd.concat([matryca_novel_6d, novel_deseq_results_d6], axis=1, sort=False)

In [12]:
# dodaj kolumny trinity oraz RC poszczegolnych grup do wynikow deseq:
novel_deseq_results_d9 = pd.concat([matryca_novel_9d, novel_deseq_results_d9], axis=1, sort=False)

In [13]:
# z matrycy wszystkich novel odfiltruj same TRUE NOVEL (NO HIT)

no_hit_headers = pd.read_csv(path+"NO_HIT_84974.headers")
no_hit_headers.head()

                          id
0  TRINITY_DN100003_c1_g1_i1
1  TRINITY_DN100013_c6_g1_i1
2  TRINITY_DN100024_c5_g1_i2
3  TRINITY_DN100024_c5_g5_i1
4  TRINITY_DN100030_c6_g1_i1

In [14]:
true_novel_ncRNA_1d_deseq = novel_deseq_results_d1[novel_deseq_results_d1['trinity'].isin(no_hit_headers['id'])]
true_novel_ncRNA_1d_deseq.shape

(84974, 14)

In [15]:
true_novel_ncRNA_6d_deseq = novel_deseq_results_d6[novel_deseq_results_d6['trinity'].isin(no_hit_headers['id'])]
true_novel_ncRNA_6d_deseq.shape

(84974, 14)

In [16]:
true_novel_ncRNA_9d_deseq = novel_deseq_results_d9[novel_deseq_results_d9['trinity'].isin(no_hit_headers['id'])]
true_novel_ncRNA_9d_deseq.shape

(84974, 14)

In [17]:
true_novel_ncRNA_9d_deseq.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_9d_1,MC_9d_2,MC_9d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,TRINITY_DN100003_c1_g1_i1,8,16,29,1,7,2,34,13.695100,0.575314,1.135625,0.506606,0.612431,0.744168
7,TRINITY_DN100013_c6_g1_i1,0,0,0,1,0,0,0,0.155286,1.300373,3.816939,0.340685,0.733341,NaN
15,TRINITY_DN100024_c5_g1_i2,47,94,18,19,168,64,81,64.130882,-0.676135,0.701629,-0.963664,0.335214,0.496912
16,TRINITY_DN100024_c5_g5_i1,23,26,3,15,59,52,88,32.735933,-1.406717,0.681387,-2.064489,0.038971,0.104043
21,TRINITY_DN100030_c6_g1_i1,0,4,7,40,2,1,39,12.472749,0.457441,1.467125,0.311794,0.755197,0.848454

In [20]:
true_novel_ncRNA_1d_deseq = true_novel_ncRNA_1d_deseq[true_novel_ncRNA_1d_deseq['padj'] < 0.001]

In [18]:
true_novel_ncRNA_6d_deseq = true_novel_ncRNA_6d_deseq[true_novel_ncRNA_6d_deseq['padj'] < 0.001]

In [19]:
true_novel_ncRNA_9d_deseq = true_novel_ncRNA_9d_deseq[true_novel_ncRNA_9d_deseq['padj'] < 0.001]

In [21]:
true_novel_ncRNA_1d_deseq.sort_values(by='log2FoldChange', inplace=True)

In [20]:
true_novel_ncRNA_6d_deseq.sort_values(by='log2FoldChange', inplace=True)

In [21]:
true_novel_ncRNA_9d_deseq.sort_values(by='log2FoldChange', inplace=True)

In [22]:
true_novel_ncRNA_1d_deseq.shape

(1100, 14)

In [22]:
true_novel_ncRNA_6d_deseq.shape

(3866, 14)

In [23]:
true_novel_ncRNA_9d_deseq.shape

(2543, 14)

In [25]:
true_novel_ncRNA_1d_deseq.to_csv(path+'TRUE_NOVEL_ncRNA_1d_after_deseq_w_trinity_names.csv', index=False)

In [24]:
true_novel_ncRNA_6d_deseq.to_csv(path+'TRUE_NOVEL_ncRNA_6d_after_deseq_w_trinity_names.csv', index=False)

In [25]:
true_novel_ncRNA_9d_deseq.to_csv(path+'TRUE_NOVEL_ncRNA_9d_after_deseq_w_trinity_names.csv', index=False)

## ////// BEGIN wspÃ³lne dla wszystkich dni TRUE NOVEL

In [13]:
# zaladowanie powyzszych wynikow

In [5]:
true_novel_ncRNA_1d_deseq = pd.read_csv(path+'TRUE_NOVEL_ncRNA_1d_after_deseq_w_trinity_names.csv')

In [6]:
true_novel_ncRNA_6d_deseq = pd.read_csv(path+'TRUE_NOVEL_ncRNA_6d_after_deseq_w_trinity_names.csv')

In [7]:
true_novel_ncRNA_9d_deseq = pd.read_csv(path+'TRUE_NOVEL_ncRNA_9d_after_deseq_w_trinity_names.csv')

In [ ]:
# Eksport do pliku nazw trinity do porownania venneem

In [10]:
trinity = true_novel_ncRNA_1d_deseq[true_novel_ncRNA_1d_deseq['log2FoldChange'] < 1]
trinity['trinity'].to_csv(path+'true_novel_pliki/1d_UP', index=False)

In [12]:
trinity = true_novel_ncRNA_6d_deseq[true_novel_ncRNA_6d_deseq['log2FoldChange'] < 1]
trinity['trinity'].to_csv(path+'true_novel_pliki/6d_UP', index=False)

In [11]:
trinity = true_novel_ncRNA_9d_deseq[true_novel_ncRNA_9d_deseq['log2FoldChange'] < 1]
trinity['trinity'].to_csv(path+'true_novel_pliki/9d_UP', index=False)

In [15]:
trinity = true_novel_ncRNA_1d_deseq[true_novel_ncRNA_1d_deseq['log2FoldChange'] > 1]
trinity['trinity'].to_csv(path+'true_novel_pliki/1d_DOWN', index=False)

In [16]:
trinity = true_novel_ncRNA_6d_deseq[true_novel_ncRNA_6d_deseq['log2FoldChange'] > 1] 
trinity['trinity'].to_csv(path+'true_novel_pliki/6d_down', index=False)

In [17]:
trinity = true_novel_ncRNA_9d_deseq[true_novel_ncRNA_9d_deseq['log2FoldChange'] > 1]
trinity['trinity'].to_csv(path+'true_novel_pliki/9d_DOWN', index=False)

In [18]:
# po venie zaladuj liste trinity ze wspolnymi we wszystkich dniach

wspolne_UP = pd.read_csv(path+'true_novel_pliki/wspolne_UP.headers')
wspolne_DOWN = pd.read_csv(path+'true_novel_pliki/wspolne_DOWN.headers')

In [19]:
wspolne_UP.head(2)

                     trinity
0   TRINITY_DN91249_c1_g4_i1
1  TRINITY_DN109734_c4_g5_i1

In [ ]:
# z deseq wszystkich wybierz tylko wspolne na podstawie list wspolnych

### UP

In [44]:
true_novel_ncRNA_1d_deseq_wspolne_UP = true_novel_ncRNA_1d_deseq[true_novel_ncRNA_1d_deseq['trinity'].isin(wspolne_UP['trinity'])]
true_novel_ncRNA_6d_deseq_wspolne_UP = true_novel_ncRNA_6d_deseq[true_novel_ncRNA_6d_deseq['trinity'].isin(wspolne_UP['trinity'])]
true_novel_ncRNA_9d_deseq_wspolne_UP = true_novel_ncRNA_9d_deseq[true_novel_ncRNA_9d_deseq['trinity'].isin(wspolne_UP['trinity'])]

In [ ]:
# polaczyc je razem, ale najpierw zliczyc sume PBS i MCLR poszczegolnych readow
# i polaczyc tylko te sumy, dla przejrzystosci

In [45]:
true_novel_ncRNA_1d_deseq_wspolne_UP.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
1,TRINITY_DN80414_c8_g1_i6,0,0,0,0,362,270,1007,259.628436,-11.779337,1.218279,-9.668834,4.090121e-22,2.657711e-19
2,TRINITY_DN91051_c3_g1_i1,0,0,0,1,1384,1152,467,423.763622,-11.765181,1.128072,-10.429458,1.819225e-25,1.879983e-22
3,TRINITY_DN91051_c3_g2_i1,5,2,2,3,10395,7797,3705,3115.040768,-11.333556,0.604409,-18.751472,1.883065e-78,8.075714e-74
4,TRINITY_DN106172_c0_g1_i1,2,0,0,0,1241,978,612,406.879937,-10.982787,1.097042,-10.011277,1.359852e-23,1.070066e-20
7,TRINITY_DN96413_c4_g3_i2,0,0,0,0,327,266,82,94.465682,-10.322092,1.183580,-8.721077,2.755677e-18,1.014420e-15

In [46]:
true_novel_ncRNA_1d_deseq_wspolne_UP['PBS_SUM'] = true_novel_ncRNA_1d_deseq_wspolne_UP['PBS_1d_1'] + \
true_novel_ncRNA_1d_deseq_wspolne_UP['PBS_1d_2'] + true_novel_ncRNA_1d_deseq_wspolne_UP['PBS_1d_3'] + \
true_novel_ncRNA_1d_deseq_wspolne_UP['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
true_novel_ncRNA_1d_deseq_wspolne_UP['MC_SUM'] = true_novel_ncRNA_1d_deseq_wspolne_UP['MC_1d_1'] + \
true_novel_ncRNA_1d_deseq_wspolne_UP['MC_1d_2'] + true_novel_ncRNA_1d_deseq_wspolne_UP['MC_1d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [48]:
true_novel_ncRNA_6d_deseq_wspolne_UP['PBS_SUM'] = true_novel_ncRNA_6d_deseq_wspolne_UP['PBS_1d_1'] + \
true_novel_ncRNA_6d_deseq_wspolne_UP['PBS_1d_2'] + true_novel_ncRNA_6d_deseq_wspolne_UP['PBS_1d_3'] + \
true_novel_ncRNA_6d_deseq_wspolne_UP['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
true_novel_ncRNA_6d_deseq_wspolne_UP['MC_SUM'] = true_novel_ncRNA_6d_deseq_wspolne_UP['MC_6d_1'] + \
true_novel_ncRNA_6d_deseq_wspolne_UP['MC_6d_2'] + true_novel_ncRNA_6d_deseq_wspolne_UP['MC_6d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
true_novel_ncRNA_9d_deseq_wspolne_UP['PBS_SUM'] = true_novel_ncRNA_9d_deseq_wspolne_UP['PBS_1d_1'] + \
true_novel_ncRNA_9d_deseq_wspolne_UP['PBS_1d_2'] + true_novel_ncRNA_9d_deseq_wspolne_UP['PBS_1d_3'] + \
true_novel_ncRNA_9d_deseq_wspolne_UP['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
true_novel_ncRNA_9d_deseq_wspolne_UP['MC_SUM'] = true_novel_ncRNA_9d_deseq_wspolne_UP['MC_9d_1'] + \
true_novel_ncRNA_9d_deseq_wspolne_UP['MC_9d_2'] + true_novel_ncRNA_9d_deseq_wspolne_UP['MC_9d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
merged_1 = pd.merge(true_novel_ncRNA_1d_deseq_wspolne_UP[['trinity','PBS_SUM','MC_SUM']], true_novel_ncRNA_6d_deseq_wspolne_UP[['trinity','PBS_SUM','MC_SUM']], on='trinity')

In [60]:
merged_1.head(1)

                    trinity  PBS_SUM_x  MC_SUM_x  PBS_SUM_y  MC_SUM_y
0  TRINITY_DN80414_c8_g1_i6          0      1639          0      5125

In [61]:
merged_2 = pd.merge(merged_1, true_novel_ncRNA_9d_deseq_wspolne_UP[['trinity','PBS_SUM','MC_SUM']], on='trinity')

In [63]:
# zapisuje i juz w xls pozmieniam nazwy kolumn
merged_2.to_csv(path+'true_novel_pliki/wspolne_UP_sumy_PBS_MC_do wybrania_kandydatow.csv', index=False)

### DOWN

In [64]:
true_novel_ncRNA_1d_deseq_wspolne_DOWN = true_novel_ncRNA_1d_deseq[true_novel_ncRNA_1d_deseq['trinity'].isin(wspolne_DOWN['trinity'])]
true_novel_ncRNA_6d_deseq_wspolne_DOWN = true_novel_ncRNA_6d_deseq[true_novel_ncRNA_6d_deseq['trinity'].isin(wspolne_DOWN['trinity'])]
true_novel_ncRNA_9d_deseq_wspolne_DOWN = true_novel_ncRNA_9d_deseq[true_novel_ncRNA_9d_deseq['trinity'].isin(wspolne_DOWN['trinity'])]

In [ ]:
# polaczyc je razem, ale najpierw zliczyc sume PBS i MCLR poszczegolnych readow
# i polaczyc tylko te sumy, dla przejrzystosci

In [65]:
true_novel_ncRNA_1d_deseq_wspolne_DOWN.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
548,TRINITY_DN84852_c3_g1_i1,394,487,375,447,156,221,91,292.367327,1.380295,0.325749,4.237296,0.000023,0.000496
549,TRINITY_DN96121_c5_g1_i2,738,804,761,839,204,448,170,533.156206,1.473842,0.340280,4.331260,0.000015,0.000349
550,TRINITY_DN112419_c3_g2_i1,272,398,329,307,114,159,62,220.907287,1.482955,0.354268,4.185969,0.000028,0.000601
552,TRINITY_DN100899_c5_g2_i1,196,321,160,280,50,82,76,157.049858,1.650514,0.403060,4.094961,0.000042,0.000844
553,TRINITY_DN86589_c7_g4_i2,499,455,434,745,176,185,105,350.517707,1.682682,0.344895,4.878824,0.000001,0.000036

In [67]:
true_novel_ncRNA_1d_deseq_wspolne_DOWN['PBS_SUM'] = true_novel_ncRNA_1d_deseq_wspolne_DOWN['PBS_1d_1'] + \
true_novel_ncRNA_1d_deseq_wspolne_DOWN['PBS_1d_2'] + true_novel_ncRNA_1d_deseq_wspolne_DOWN['PBS_1d_3'] + \
true_novel_ncRNA_1d_deseq_wspolne_DOWN['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [68]:
true_novel_ncRNA_1d_deseq_wspolne_DOWN['MC_SUM'] = true_novel_ncRNA_1d_deseq_wspolne_DOWN['MC_1d_1'] + \
true_novel_ncRNA_1d_deseq_wspolne_DOWN['MC_1d_2'] + true_novel_ncRNA_1d_deseq_wspolne_DOWN['MC_1d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
true_novel_ncRNA_6d_deseq_wspolne_DOWN['PBS_SUM'] = true_novel_ncRNA_6d_deseq_wspolne_DOWN['PBS_1d_1'] + \
true_novel_ncRNA_6d_deseq_wspolne_DOWN['PBS_1d_2'] + true_novel_ncRNA_6d_deseq_wspolne_DOWN['PBS_1d_3'] + \
true_novel_ncRNA_6d_deseq_wspolne_DOWN['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
true_novel_ncRNA_6d_deseq_wspolne_DOWN['MC_SUM'] = true_novel_ncRNA_6d_deseq_wspolne_DOWN['MC_6d_1'] + \
true_novel_ncRNA_6d_deseq_wspolne_DOWN['MC_6d_2'] + true_novel_ncRNA_6d_deseq_wspolne_DOWN['MC_6d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [71]:
true_novel_ncRNA_9d_deseq_wspolne_DOWN['PBS_SUM'] = true_novel_ncRNA_9d_deseq_wspolne_DOWN['PBS_1d_1'] + \
true_novel_ncRNA_9d_deseq_wspolne_DOWN['PBS_1d_2'] + true_novel_ncRNA_9d_deseq_wspolne_DOWN['PBS_1d_3'] + \
true_novel_ncRNA_9d_deseq_wspolne_DOWN['PBS_1d_4']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
true_novel_ncRNA_9d_deseq_wspolne_DOWN['MC_SUM'] = true_novel_ncRNA_9d_deseq_wspolne_DOWN['MC_9d_1'] + \
true_novel_ncRNA_9d_deseq_wspolne_DOWN['MC_9d_2'] + true_novel_ncRNA_9d_deseq_wspolne_DOWN['MC_9d_3']

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
merged_1 = pd.merge(true_novel_ncRNA_1d_deseq_wspolne_DOWN[['trinity','PBS_SUM','MC_SUM']], true_novel_ncRNA_6d_deseq_wspolne_DOWN[['trinity','PBS_SUM','MC_SUM']], on='trinity')

In [74]:
merged_1.head(1)

                    trinity  PBS_SUM_x  MC_SUM_x  PBS_SUM_y  MC_SUM_y
0  TRINITY_DN84852_c3_g1_i1       1703       468       1703       267

In [75]:
merged_2 = pd.merge(merged_1, true_novel_ncRNA_9d_deseq_wspolne_DOWN[['trinity','PBS_SUM','MC_SUM']], on='trinity')

In [76]:
# zapisuje i juz w xls pozmieniam nazwy kolumn
merged_2.to_csv(path+'true_novel_pliki/wspolne_DOWN_sumy_PBS_MC_do wybrania_kandydatow.csv', index=False)