In [2]:
import pandas as pd
import numpy as np

In [2]:
salmo_rep_with_annot = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_53/1_code/report_salmo_annot_feature_map.txt', sep='\t', low_memory=False)

In [4]:
salmo_rep_with_annot.head()

                          id                    ident
0     TRINITY_DN100000_c5_g1  CAPON_HUMAN^CAPON_MOUSE
1  TRINITY_DN100000_c5_g1_i2              CAPON_HUMAN
2  TRINITY_DN100000_c5_g1_i6              CAPON_MOUSE
3     TRINITY_DN100000_c9_g1              CH049_HUMAN
4  TRINITY_DN100000_c9_g1_i1              CH049_HUMAN

In [ ]:
#df_mRNA_only = df_blast_results_20cov[df_blast_results_20cov['al_title'].str.contains('mRNA')]

In [3]:
salmo_rep_with_annot_i = salmo_rep_with_annot[salmo_rep_with_annot['id'].str.contains('_i')]

In [4]:
salmo_rep_with_annot_i.dropna(inplace=True)

/home/maciek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
salmo_rep_with_annot_i.shape

(125839, 2)

In [5]:
salmo_rep_with_annot_i['id'].to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/1_code/protein.headers', index=False)

In [6]:
salmo_rep_with_annot_i.to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/1_code/protein_ident.headers', sep='\t', index=False)

In [10]:
salmo_rep_with_annot_i.head(6)

                           id        ident
1   TRINITY_DN100000_c5_g1_i2  CAPON_HUMAN
2   TRINITY_DN100000_c5_g1_i6  CAPON_MOUSE
4   TRINITY_DN100000_c9_g1_i1  CH049_HUMAN
8   TRINITY_DN100001_c2_g2_i2  CIO1B_SALSA
9   TRINITY_DN100001_c2_g2_i7  CIO1B_SALSA
11  TRINITY_DN100001_c2_g3_i3  CIO1B_SALSA

In [7]:
counted = pd.read_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/proteins_uniprot/MC2_9d_W7_167_proteins_counted.txt', sep='\t', low_memory=False)

In [7]:
counted.shape

(125839, 4)

In [8]:
counted.head()

                          id   len  mapped  unmapped
0  TRINITY_DN100000_c5_g1_i2   340       0         0
1  TRINITY_DN100000_c5_g1_i6  2830     219        19
2  TRINITY_DN100000_c9_g1_i1   247       0         0
3  TRINITY_DN100001_c2_g2_i2  1591    2066        76
4  TRINITY_DN100001_c2_g2_i7  1164    1139        10

In [8]:
counted_with_annot = counted.merge(salmo_rep_with_annot_i, on='id')

In [22]:
counted_with_annot.shape

(125839, 5)

In [10]:
counted_with_annot.head()

                          id   len  mapped  unmapped        ident
0  TRINITY_DN100000_c5_g1_i2   340       0         0  CAPON_HUMAN
1  TRINITY_DN100000_c5_g1_i6  2830     219        19  CAPON_MOUSE
2  TRINITY_DN100000_c9_g1_i1   247       0         0  CH049_HUMAN
3  TRINITY_DN100001_c2_g2_i2  1591    2066        76  CIO1B_SALSA
4  TRINITY_DN100001_c2_g2_i7  1164    1139        10  CIO1B_SALSA

In [9]:
counted_with_annot['id_id'] = counted_with_annot['id'] + "*" + counted_with_annot['ident']

In [10]:
counted_with_annot.head()

,id,len,mapped,unmapped,ident,id_id
0,TRINITY_DN100000_c5_g1_i2,340,0,0,CAPON_HUMAN,TRINITY_DN100000_c5_g1_i2*CAPON_HUMAN
1,TRINITY_DN100000_c5_g1_i6,2830,219,19,CAPON_MOUSE,TRINITY_DN100000_c5_g1_i6*CAPON_MOUSE
2,TRINITY_DN100000_c9_g1_i1,247,0,0,CH049_HUMAN,TRINITY_DN100000_c9_g1_i1*CH049_HUMAN
3,TRINITY_DN100001_c2_g2_i2,1591,2066,76,CIO1B_SALSA,TRINITY_DN100001_c2_g2_i2*CIO1B_SALSA
4,TRINITY_DN100001_c2_g2_i7,1164,1139,10,CIO1B_SALSA,TRINITY_DN100001_c2_g2_i7*CIO1B_SALSA

In [11]:
del counted_with_annot['id']

del counted_with_annot['len']
del counted_with_annot['unmapped']
del counted_with_annot['ident']

In [12]:
counted_with_annot.head()

   mapped                                  id_id
0       0  TRINITY_DN100000_c5_g1_i2*CAPON_HUMAN
1     219  TRINITY_DN100000_c5_g1_i6*CAPON_MOUSE
2       0  TRINITY_DN100000_c9_g1_i1*CH049_HUMAN
3    2066  TRINITY_DN100001_c2_g2_i2*CIO1B_SALSA
4    1139  TRINITY_DN100001_c2_g2_i7*CIO1B_SALSA

In [13]:
counted_with_annot.to_csv('/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/proteins_uniprot_matryca.txt', index=False)

Podejscie drugie, SALMO PROTEINS, nie uniprot