In [1]:
import pandas as pd
import numpy as np

In [2]:
#path='/mnt/sdb1/Project_Sieja_MCLR_52/2_pipeline/7_counting_transcripts/noncoding_novel/'
path='/media/WinToUSB/7_counting_transcripts/noncoding_novel/'

In [4]:
matrycaUTR = pd.read_csv(path+'PBS1d_MC_all_matryca.csv')
matrycaUTR.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100003_c1_g1_i1,8,16,29,1,24,21,24,1,1,2,7,2,34
1,TRINITY_DN100004_c4_g2_i2,9,22,24,8,23,50,45,65,53,95,76,29,74
2,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,4279,6616,4073,3119
3,TRINITY_DN100005_c8_g3_i1,101,102,92,248,52,56,71,89,189,138,313,327,278
4,TRINITY_DN100005_c9_g1_i1,19,4,22,4,2,2,1,0,1,0,2,6,18

In [5]:
UTR = pd.read_csv(path+'mRNA_only_merged_w_XP.csv')
UTR.head(1)

,query,al_title,al_accession,evalue,coverage,Entry,Protein names,Gene names
0,TRINITY_DN100004_c4_g2_i2,gi|929290304|ref|XM_014166828.1| PREDICTED: Sa...,XM_014166828,0.0,100.183824,A0A1S3P3U9,forkhead box protein P4-like isoform X8,LOC106583051

In [6]:
UTR = UTR[['query', 'Entry', 'Protein names']]
UTR.head(1)

,query,Entry,Protein names
0,TRINITY_DN100004_c4_g2_i2,A0A1S3P3U9,forkhead box protein P4-like isoform X8

In [7]:
UTR.rename(columns={'query':'trinity'}, inplace=True)

In [9]:
matrycaUTR_w_names = pd.merge(matrycaUTR, UTR, on='trinity', how='inner')
matrycaUTR_w_names.head(1)

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3,Entry,Protein names
0,TRINITY_DN100004_c4_g2_i2,9,22,24,8,23,50,45,65,53,95,76,29,74,A0A1S3P3U9,forkhead box protein P4-like isoform X8

In [10]:
matrycaUTR_w_names.shape #zidentyfikowane trinity jako mRNA i nazwane jako bialka

(93208, 16)

In [11]:
prot_path='/media/WinToUSB/7_counting_transcripts/proteins_salmo/'

In [12]:
matryca_salmo_prot = pd.read_csv(prot_path+'PBS_MCLR_salmo_only_matryca.csv')
matryca_salmo_prot.head()

,trinity,PBS_1d_1,PBS_1d_2,PBS_1d_3,PBS_1d_4,MC_1d_1,MC_1d_2,MC_1d_3,MC_6d_1,MC_6d_2,MC_6d_3,MC_9d_1,MC_9d_2,MC_9d_3
0,TRINITY_DN100000_c5_g1_i2,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0,0,0,5,0,0
1,TRINITY_DN100000_c5_g1_i6,374.0,506.0,607.0,594.0,511.0,726.0,517.0,192,195,227,427,219,339
2,TRINITY_DN100001_c2_g2_i2,1232.0,1264.0,998.0,1040.0,1162.0,1784.0,938.0,1730,1743,1974,2315,2067,2386
3,TRINITY_DN100001_c2_g2_i7,562.0,408.0,311.0,353.0,402.0,471.0,420.0,1378,1338,1428,1291,1139,1344
4,TRINITY_DN100001_c2_g3_i3,565.0,525.0,384.0,406.0,555.0,552.0,529.0,1553,1461,1684,1436,1416,1447

In [13]:
prot_all_from_trinity_report = pd.read_csv(prot_path+'PROT_wszystkie_bialka_z_raportu_trinity.csv')
prot_all_from_trinity_report.head(1)

,Entry,ident,Entry name,Status,Protein names,Gene names,Organism,Length,id
0,A0A1S3KIG4,XP_013978521.1,A0A1S3KIG4_SALSA,unreviewed,carboxyl-terminal PDZ ligand of neuronal nitri...,LOC106560293,Salmo salar (Atlantic salmon),758,TRINITY_DN100000_c5_g1

In [14]:
prot_all_from_trinity_report.rename(columns={'id':'trinity'}, inplace=True)

In [15]:
matryca_salmo_prot_w_names = pd.merge(matryca_salmo_prot, prot_all_from_trinity_report, on='trinity', how='inner')
matryca_salmo_prot_w_names.shape

(246795, 22)

In [ ]:
# merge utr with proteins

In [28]:
matryca_UTR_merged_w_matryca_PROT = pd.merge(matrycaUTR_w_names, matryca_salmo_prot_w_names, on='Entry', how='inner', suffixes=('_UTR', '_PROT'))

In [29]:
matryca_UTR_merged_w_matryca_PROT.head()

,trinity_UTR,PBS_1d_1_UTR,PBS_1d_2_UTR,PBS_1d_3_UTR,PBS_1d_4_UTR,MC_1d_1_UTR,MC_1d_2_UTR,MC_1d_3_UTR,MC_6d_1_UTR,MC_6d_2_UTR,...,MC_9d_1_PROT,MC_9d_2_PROT,MC_9d_3_PROT,ident,Entry name,Status,Protein names_PROT,Gene names,Organism,Length
0,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,...,0,4,0,XP_014068145.1,A0A1S3SUX9_SALSA,unreviewed,"alpha-N-acetylgalactosaminide alpha-2,6-sialyl...",LOC106611954,Salmo salar (Atlantic salmon),456
1,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,...,3398,1447,1257,XP_014068145.1,A0A1S3SUX9_SALSA,unreviewed,"alpha-N-acetylgalactosaminide alpha-2,6-sialyl...",LOC106611954,Salmo salar (Atlantic salmon),456
2,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,...,2186,1007,845,XP_014068145.1,A0A1S3SUX9_SALSA,unreviewed,"alpha-N-acetylgalactosaminide alpha-2,6-sialyl...",LOC106611954,Salmo salar (Atlantic salmon),456
3,TRINITY_DN100005_c7_g2_i1,800,798,577,913,1322,1276,1285,6952,5736,...,19,4,4,XP_014068145.1,A0A1S3SUX9_SALSA,unreviewed,"alpha-N-acetylgalactosaminide alpha-2,6-sialyl...",LOC106611954,Salmo salar (Atlantic salmon),456
4,TRINITY_DN111675_c5_g3_i1,53,80,45,93,36,65,35,36,63,...,0,4,0,XP_014068145.1,A0A1S3SUX9_SALSA,unreviewed,"alpha-N-acetylgalactosaminide alpha-2,6-sialyl...",LOC106611954,Salmo salar (Atlantic salmon),456

In [30]:
matryca_UTR_merged_w_matryca_PROT.shape

(512626, 37)

In [31]:
matryca_UTR_merged_w_matryca_PROT.drop_duplicates(inplace=True)
matryca_UTR_merged_w_matryca_PROT.shape

(295223, 37)

In [32]:
matryca_UTR_merged_w_matryca_PROT['1d_UTR_mean'] = (matryca_UTR_merged_w_matryca_PROT['PBS_1d_1_UTR'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_2_UTR'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_3_UTR'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_4_UTR']) / 4
matryca_UTR_merged_w_matryca_PROT['1d_UTR_mean']

0         772.00
1         772.00
2         772.00
3         772.00
4          67.75
           ...
512618     12.50
512619      6.00
512621      6.00
512623      6.00
512625      4.75
Name: 1d_UTR_mean, Length: 295223, dtype: float64

In [34]:
matryca_UTR_merged_w_matryca_PROT['1d_UTR_mean'].mean()

240.5868504486439

In [33]:
matryca_UTR_merged_w_matryca_PROT['1d_PROT_mean'] = (matryca_UTR_merged_w_matryca_PROT['PBS_1d_1_PROT'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_2_PROT'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_3_PROT'] + matryca_UTR_merged_w_matryca_PROT['PBS_1d_4_PROT']) / 4
matryca_UTR_merged_w_matryca_PROT['1d_PROT_mean']

0           0.75
1         386.75
2         253.50
3           6.00
4           0.75
           ...
512618     17.75
512619      0.50
512621      0.00
512623    574.25
512625     64.75
Name: 1d_PROT_mean, Length: 295223, dtype: float64

In [35]:
matryca_UTR_merged_w_matryca_PROT['1d_PROT_mean'].mean()

537.4178824143105