https://pythonfordatascience.org/anova-python/

In [47]:
import pandas as pd
import scipy.stats as stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [48]:
data = pd.read_csv('statistics_qpcr_data_sample_data.csv')

In [49]:
data

    person  dose  libido
0        1     1       3
1        2     1       2
2        3     1       1
3        4     1       1
4        5     1       4
5        6     2       5
6        7     2       2
7        8     2       4
8        9     2       2
9       10     2       3
10      11     3       7
11      12     3       4
12      13     3       5
13      14     3       3
14      15     3       6

In [50]:
data.dtypes

person    int64
dose      int64
libido    int64
dtype: object

In [51]:
data['dose'].replace({1: 'placebo', 2: 'low', 3:'high'}, inplace=True)

In [52]:
data

    person     dose  libido
0        1  placebo       3
1        2  placebo       2
2        3  placebo       1
3        4  placebo       1
4        5  placebo       4
5        6      low       5
6        7      low       2
7        8      low       4
8        9      low       2
9       10      low       3
10      11     high       7
11      12     high       4
12      13     high       5
13      14     high       3
14      15     high       6

In [53]:
rp.summary_cont(data['libido'])

  Variable     N      Mean       SD        SE  95% Conf.  Interval
0   libido  15.0  3.466667  1.76743  0.456349   2.487896  4.445437

In [54]:
data['libido'].groupby(data['dose']).mean()

dose
high       5.0
low        3.2
placebo    2.2
Name: libido, dtype: float64

In [55]:
rp.summary_cont(data['libido'].groupby(data['dose']))

         N  Mean        SD        SE  95% Conf.  Interval
dose
high     5   5.0  1.581139  0.707107   3.450484  6.549516
low      5   3.2  1.303840  0.583095   1.922236  4.477764
placebo  5   2.2  1.303840  0.583095   0.922236  3.477764

In [56]:
# to samo z pr√≥bami qPCR

In [57]:
qpcr_df = pd.read_csv('/home/maciek/ownCloud/python_projekty/statistics_qpcr_data_sample_data2.csv')

In [58]:
qpcr_df

    sample treatment  92b-3p  122-5p
0        1         K    15.0    12.0
1        2         K    15.1    15.0
2        3         K    15.2    13.0
3        4         K    15.0    15.0
4        5         K    14.0    14.0
5        6     ZW285    23.0    16.0
6        7     ZW285    22.0    15.0
7        8     ZW285    24.0    14.0
8        9     ZW285    23.0    15.0
9       10     ZW285    19.0    16.0
10      11     ZW666    15.0    12.0
11      12     ZW666    16.0    13.0
12      13     ZW666    14.0    12.0
13      14     ZW666    15.0    11.0
14      15     ZW666    15.0    12.0

In [59]:
qpcr_df.dtypes

sample         int64
treatment     object
92b-3p       float64
122-5p       float64
dtype: object

In [60]:
rp.summary_cont(qpcr_df['92b-3p'].groupby(qpcr_df['treatment']))

           N   Mean        SD        SE  95% Conf.   Interval
treatment
K          5  14.86  0.487852  0.218174  14.381905  15.338095
ZW285      5  22.20  1.923538  0.860233  20.314932  24.085068
ZW666      5  15.00  0.707107  0.316228  14.307035  15.692965

In [61]:
rp.summary_cont(qpcr_df['122-5p'].groupby(qpcr_df['treatment']))

           N  Mean        SD        SE  95% Conf.   Interval
treatment
K          5  13.8  1.303840  0.583095  12.522236  15.077764
ZW285      5  15.2  0.836660  0.374166  14.380073  16.019927
ZW666      5  12.0  0.707107  0.316228  11.307035  12.692965

In [62]:
# dla kolumny xxx spelnij warunek xxx

qpcr_df['92b-3p'][qpcr_df['treatment'] == 'K']

0    15.0
1    15.1
2    15.2
3    15.0
4    14.0
Name: 92b-3p, dtype: float64

In [63]:
qpcr_df['treatment'][qpcr_df['92b-3p'] < 15.1]

0         K
3         K
4         K
10    ZW666
12    ZW666
13    ZW666
14    ZW666
Name: treatment, dtype: object

In [64]:
# ANOVA with scipy.stats

stats.f_oneway(qpcr_df['92b-3p'][qpcr_df['treatment'] == 'K'], 
               qpcr_df['92b-3p'][qpcr_df['treatment'] == 'ZW285'], 
               qpcr_df['92b-3p'][qpcr_df['treatment'] == 'ZW666'])

F_onewayResult(statistic=59.56241550247876, pvalue=5.874593594568008e-07)

In [65]:
# ANOVA with statsmodels // invalid syntax przez - w nazwie kolumny

results = ols('mir92b ~ C(treatment)', data=qpcr_df).fit

PatsyError: Error evaluating factor: NameError: name 'mir92b' is not defined
    mir92b ~ C(treatment)
    ^^^^^^

In [67]:
# zmiana nazwy kolumny

qpcr_df.rename(columns={'92b-3p' : 'mir92b', '122-5p' : '122_5p'}, inplace=True)
# qpcr_df.columns = ['sample', 'treatment', 'mir92b', 'mir122']

In [68]:
qpcr_df

    sample treatment  mir92b  122_5p
0        1         K    15.0    12.0
1        2         K    15.1    15.0
2        3         K    15.2    13.0
3        4         K    15.0    15.0
4        5         K    14.0    14.0
5        6     ZW285    23.0    16.0
6        7     ZW285    22.0    15.0
7        8     ZW285    24.0    14.0
8        9     ZW285    23.0    15.0
9       10     ZW285    19.0    16.0
10      11     ZW666    15.0    12.0
11      12     ZW666    16.0    13.0
12      13     ZW666    14.0    12.0
13      14     ZW666    15.0    11.0
14      15     ZW666    15.0    12.0

In [89]:
# ANOVA with statsmodels 

model = ols('mir92b ~ C(treatment)', data=qpcr_df).fit()

In [90]:
model.summary()

/usr/lib/python3.7/site-packages/scipy/stats/stats.py:1394: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 mir92b   R-squared:                       0.908
Model:                            OLS   Adj. R-squared:                  0.893
Method:                 Least Squares   F-statistic:                     59.56
Date:                Sun, 24 Feb 2019   Prob (F-statistic):           5.87e-07
Time:                        16:15:34   Log-Likelihood:                -22.547
No. Observations:                  15   AIC:                             51.09
Df Residuals:                      12   BIC:                             53.22
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                14.8600      0.544     27.319      0.000      13.675      16.045
C(treatment)[T.ZW285]     7.3400      0.769      9.542      0.000       5.664       9.016
C(treatment)[T.ZW666]     0.1400      0.769      0.182      0.859      -1.536       1.816
==============================================================================
Omnibus:                       12.485   Durbin-Watson:                   2.369
Prob(Omnibus):                  0.002   Jarque-Bera (JB):                9.102
Skew:                          -1.372   Prob(JB):                       0.0106
Kurtosis:                       5.652   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

skoro OLS to model liniowy to jedna z wartosci categorical staje sie interceptem, ale wiadomo, brana jest pod uwage dalej

```
if you dummy code the groups, you have to not include 1 of the groups in the formula. This group‚Äôs data will still get captured in the model‚Äôs intercept and is the base (control) group. If you use the following method of entering the formula Python takes care of this for you.

model_name = ols('outcome_variable ~ C(group_variable)', data=your_data).fit()
```

In [71]:
#AOV table
sm.stats.anova_lm(model, typ=2)

                  sum_sq    df          F        PR(>F)
C(treatment)  176.225333   2.0  59.562416  5.874594e-07
Residual       17.752000  12.0        NaN           NaN

```
Let‚Äôs break down this ANOVA table. The dose row is the between groups effect which is the overall experimental effect. The sum of squares for the model (SSM; value 20.133 in the table) is how much variance is explained by our model. The current model explains a significant amount of variance, F(2,12)= 5.12, p < 0.05. The residual row is the unsystematic variation in the data (SSR; also called the unexplained variance; value 23.600 in the table). In this case, the unsystematic variation represents the natural individual differences in libido and natural different reactions to the drug, Difficile.
```

Assumption Checks/Model Diagnostics
===

In [74]:
model.diagn

{'jb': 9.101889637987448,
 'jbpv': 0.010557225003536634,
 'skew': -1.3720774067933699,
 'kurtosis': 5.65191209881637,
 'omni': 12.485167536823731,
 'omnipv': 0.0019448240506161148,
 'condno': 3.732050807568879,
 'mineigval': 1.3397459621556123}

```
These are the same diagnostics from the bottom of the regression table from before. The Durban-Watson tests is to detect the presence of autocorrelation (not provided when calling diagnostics this way), Jarque-Bera (jb; jbpv is p-value) tests the assumption of normality, Omnibus (omni; omnipv is p-value) tests the assumption of homogeneity of variance, and the Condition Number (condno) assess multicollinearity. Condition Number values over 20 are indicative of multicollinearity.
```

```
If the omnibus test were to be significant (w przypadku qpcr jest), an option on how to handle it would be to use a heteroscedasticity corrected coefficient covariance matrix in the .anova_lm() method. This corrects the calculations to account for the heteroscedasticity present. More information on the method can be found on it‚Äôs official documentation page https://www.statsmodels.org/stable/generated/statsmodels.stats.anova.anova_lm.html#statsmodels.stats.anova.anova_lm
```

In [78]:
#AOV table modyfied with 'hc3' heteroscedasticity-corrected coefficient covariance matrix:

sm.stats.anova_lm(model, typ=2, robust='hc3')

                 sum_sq    df          F    PR(>F)
C(treatment)  81.708539   2.0  27.616676  0.000032
Residual      17.752000  12.0        NaN       NaN

Other ways to check assumptions
---

Assumption: Homogeneity of Variance
(levene test)

One can use the Levene‚Äôs test to test for equal variances between groups. This is apart of the scipy.stats library. Official documentation can be found here. The reason I prefer using these methods is that the homogeneity of variance assumption should be checked for each level of the categorical variable. The diagnostic output provided by statsmodels appears to only test it as the whole.

In [80]:
# LEVENE with scipy.stats
# https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.levene.html

stats.levene(qpcr_df['mir92b'][qpcr_df['treatment'] == 'K'], 
               qpcr_df['mir92b'][qpcr_df['treatment'] == 'ZW285'], 
               qpcr_df['mir92b'][qpcr_df['treatment'] == 'ZW666'])

LeveneResult(statistic=1.2139710509754564, pvalue=0.3310252567612576)

Levene‚Äôs test for homogeneity of variance is not significant which indicates that the groups have equal variances.

Assumption: Normality

The assumption of normality is tested on the residuals as a whole which is how the diagnostic information provided by statsmodels tests the residuals. One could use the Jarque-Bera test provided, or one could use Shapiro or others. I will demonstrate how to test for normality using the Shapiro method. The output is not labelled, but the numbers are the test statistic value followed by the p-value. The official documentation can be found here.

In [82]:
stats.shapiro(model.resid)

(0.8616973161697388, 0.025534721091389656)

In [83]:
model.resid

0     1.400000e-01
1     2.400000e-01
2     3.400000e-01
3     1.400000e-01
4    -8.600000e-01
5     8.000000e-01
6    -2.000000e-01
7     1.800000e+00
8     8.000000e-01
9    -3.200000e+00
10   -7.105427e-15
11    1.000000e+00
12   -1.000000e+00
13   -7.105427e-15
14   -7.105427e-15
dtype: float64

==> dystr. nie jest normalna! co w takim przypadku? w ogole olac to i robic test nieparametryczny, czy da sie jakos zastosowac te poprawke robust='hc3'. Ale przeciez z drugiej strony Ct sa zawsze normalne?! tak gdzies przeczytalem, czy to prawda? te ct sa zmyslone, ale przeciez moze sie tak zdarzyc, ze jednak i prawdziwych wartosciach cos takiego wyjdzie. zreszta przeciez czy robienie anovy na pewno ma tutaj sens? czy zwykla anova/ttest nie wystarczy dla takich danych, ktore moga roznic sie tylko pomiedzy kontola/proba badana, a nie pomiedzy badanymi probami? w przykladzie libido to ma sens, bo byl jeden zwiazek w roznych dawkach i dlatego mozemy uzywac anovy (na moim przykladzie, gdyby ZW285 byl podawany w roznych dawkach to wtedy), a tak stykna same ttesty.

In [72]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [73]:
mc = MultiComparison(qpcr_df['mir92b'], qpcr_df['treatment'])
mc_results = mc.tukeyhsd()
print(mc_results)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
  K    ZW285    7.34    5.2888  9.3912  True
  K    ZW666    0.14   -1.9112  2.1912 False
ZW285  ZW666    -7.2   -9.2512 -5.1488  True
---------------------------------------------

In [ ]:
# Zwykly ttest_ind dla dwoch grup:

In [91]:
stats.ttest_ind(qpcr_df['mir92b'][qpcr_df['treatment'] == 'K'], qpcr_df['mir92b'][qpcr_df['treatment'] == 'ZW285'])

Ttest_indResult(statistic=-8.270717864668867, pvalue=3.433905172049131e-05)

In [92]:
stats.ttest_ind(qpcr_df['mir92b'][qpcr_df['treatment'] == 'K'], qpcr_df['mir92b'][qpcr_df['treatment'] == 'ZW666'])

Ttest_indResult(statistic=-0.36440544440674905, pvalue=0.7249992968096554)

In [ ]:
# dziekuje pozdrawiam